@use "../abstracts" as *;

@layer components {
    .container {
        margin-inline: auto;

        @include mq(sm) {
            
        }

        @include mq-max(sm) {
            
        }

        @include mq("2xl") {
            max-width: 1180px !important;
            width: 100%;
        }
    }

    .scroll-to-top {
        &.hide {
            visibility: hidden;
            opacity: 0%;
        }

        &.active {
            visibility: visible;
            opacity: 100%;
        }
    }
}

.container {
    margin-inline: auto;
}

.container\! {
    margin-inline: auto !important;
}